@{
}
@model List<CheeseMVC.Models.Cheese>

<h1>My Cheese</h1>

<p><a href="/cheese/add">Add Cheese</a> | <a asp-controller="Cheese" asp-action="Add">Add Cheese (different way)</a></p>

@if (Model.Count == 0)
{
    <p>No Cheeses yet!</p>
}
@if (Model.Count > 0)
{
    <form method="post" action="/Cheese/RemoveCheeseMultiple">
        <table class="table">
            <tr>
                <th>Select</th>
                <th>Cheese Name</th>
                <th>Description</th>
                <th>Cheese Type</th>
                <th>Edit</th>
            </tr>
            @foreach (Cheese cheese in Model)
            {
                <tr>
                    <td><input type="checkbox" name="names" value="@cheese.CheeseId" /></td>
                    <td>@cheese.Name</td>
                    <td>@cheese.Description</td>
                    <td>@cheese.Type</td>
                    <td><a asp-controller="Cheese" asp-action="Edit" asp-route-cheeseId="@cheese.CheeseId">edit</a></td>
                </tr>
            }
        </table>
        <input type="submit" value="Delete" />
    </form>
}